*{
  padding: 0%;
  /* margin: 0%; */
}
 

.register-btn {
    font-family: "Muli-Regular";
    color: #333;
    font-size: 13px; }
   
  .reg > p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
   
  img {
    max-width: 100%; }
   
  ul {
    padding-left: 0;
    margin-bottom: 0; }
   
  a:hover {
    text-decoration: none; }
   
  :focus {
    outline: none; }
   
  .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; }
   
  .inner {
    min-width: 850px;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding-top: 68px;
    padding-bottom: 48px;
    /* background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%); */
    
    opacity: 9;
  }
   
    .inner h1 {
      text-transform: uppercase;
      font-size: 45px;
      font-family: "Muli-Bold";
      text-align: center;
      margin-bottom: 32px;
      color: #333;
      letter-spacing: 2px; }
   
  .reg-form {
    width: 50%;
    padding-left: 45px; }
   
  .form-group {
    display: flex;
  flex-grow: inherit;
flex-flow: column;
flex-wrap: wrap;
font-size: large;
font-weight: 500;

}
    /* .form-group .form-wrapper {
      width: 50%; }
      .form-group .form-wrapper:first-child {
        margin-right: 20px; }
    */
  .form-wrapper, .place {
    margin-left: auto;
    margin-right: auto;
  }
    
   
    .form-wrapper > input{
      width:  40em;
      align-content: center;

    }

    .place > input{
      width:  40em;
    }

  .form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: "Muli-Bold";
    background: none;
    overflow: hidden;
   
  }
    .form-control:focus {
      border: 3px solid #3575D3 
      
      ; }
   
 
  

   
.register-btn{
    border: none;
    width: 152px;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #3575D3 ;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    
   
    .checkbox label {
      /* padding-left: 22em; */
      justify-content: center;
      left: 30px;
      cursor: pointer; }
    .checkbox input {
      position: absolute;

      opacity: 0;
      cursor: pointer; }
    .checkbox input:checked ~ .checkmark:after {
      display: block; }
   
  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 13px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-family: Material-Design-Iconic-Font;
    color: #000;
    font-size: 10px;
    font-weight: bolder; }
    .checkmark:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      content: '\f26b'; }
   
  @media (max-width: 991px) {
    .inner {
      min-width: 768px; } }
  @media (max-width: 767px) {
    .inner {
      min-width: auto;
      background: none;
      padding-top: 0;
      padding-bottom: 0; }
   
    form {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px; } }
